{% extends "layout.html" %}

{% block content %}
<title>Home - Get S3 Buckets</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h2>所有小说：</h2>
            <ul class="list-group">
                {% for book in book_info %}
                <li class="list-group-item"><a href="{{ url_for(book[3]) }}">{{ book[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

        </div>
    </div>
</div>
{% endblock %}